*
!/.config/
!/.config/**
/.config/autostart/**
/.config/Code/**
/.config/dconf/**
/.config/fcitx/dbus/**
/.config/fcitx5/conf/cached_layouts
/.config/freerdp/server/**
/.config/github-copilot/ws/*
/.config/github-copilot/apps.json
/.config/github-copilot/versions.json
/.config/github-copilot/*.md
/.config/go/telemetry/**
/.config/ibus/**
/.config/io.github.clash-verge-rev.clash-verge-rev/window_state.json
/.config/JetBrains/**/*
!/.config/JetBrains/**/*.vmoptions
/.config/jgit/**
/.config/Moonlight Game Streaming Project/Moonlight.conf
/.config/pulse/cookie
/.config/QQ/**
/.config/QtProject.conf
/.config/quickshell/.qmlls.ini
/.config/smplayer/device_info.ini
/.config/smplayer/favorites.m3u8
/.config/smplayer/file_settings/**
/.config/smplayer/hdpi.ini
/.config/smplayer/player_info.ini
/.config/smplayer/playlist.ini
/.config/unity3d/**
!/.local/
!/.local/bin/
!/.local/bin/**
